{% extends "base.html" %}

{% block content %}

    


    <div>

        <div>
            <a href="{% url 'createfav' %}">Create Favourite</a>
        </div><br>

        <div>
            <div>
                <strong>List of Genres:</strong><br>    
                <ul>
                    {% for genre in genres %}
                        <li><a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <br>

            <ul>
                {% for movie in movies %}
                    <li>
                        <strong>Title:</strong> {{ movie.title }}<br>
                        <strong>Description:</strong> {{ movie.description }}<br>
                        <strong>Genres:</strong>
                        <ul>
                            {% for genre in movie.genre.all %}
                                <li>{{ genre.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>   

            {% for viewer in viewers %}
            {% if request.user == viewer.F_name %}
            <div>
                <strong>Name:</strong>{{viewer.F_name}}<br>
                <strong>Favourite Movie:</strong> {{viewer.is_favourite}}

                {% if viewer.is_favourite %}
                <a href="{% url 'remove_fav' viewer.id %}">remove</a>
                {% endif %}
            {% endif %}

            </div><br>
            {% endfor %}


{% endblock %}