<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemania</title>
</head>
<body>
    
    <a href="/"><h1>LOGO</h1></a>     

    <hr>

    <h3>Homepage</h3>

    <div>

        <div>
            {% for genre in genres %}
                {{genre.name}}<br>
            {% endfor %}

            {% for movie in movies %}
                {{movie.title}} -- {{movie.genre}} <br>
            {% endfor %}
        </div>


    </div>

</body>
</html>