{% extends 'base.html' %}

{% block content %}

<article class="container" page-content>

        <!-- MOVIE LIST -->
        <section class="movie-list genre-list">

            <div class="title-wrapper">
                <h1 class="heading">All Fantasy Movies</h1>
            </div>


            <div class="grid-list">
            

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    
                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>



                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>


            </div>

            <button class="btn load-more">Load More</button>


        </section>




        <div class="search-modal active">
            <p class="label">Results for</p>

            <h1 class="heading">Puss in Boots</h1>

            <div class="movie-list">
                <div class="grid-list">

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    
                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>



                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./static/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>


                </div>
            </div>
        </div>
    </article>
{% endblock %}