{% extends "base.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
<div>
    <div>
        <div>
            <h1>Remove</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <p>Are you sure you want to remove "{{ obj }}" from your favourite list?</p>
                
                <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
                <input type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</div>
{% endblock %}  