/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300&display=swap');

/* Some Variables */
:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #060622;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
  --primary-variant: hsla(349, 69%, 51%, 1);
  /* gradient colors */
  --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

  /* Typography */
  --ff-dm-sans: 'DM Sans', sans-serif;

  --fs-heading: 4rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;

  --weight-bold: 700;

  /* shadow */
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

  /* Border Radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /* Transition */
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
}



.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
  right: 18px;
}



/*-----------------------------------*\
  #Navigation
\*-----------------------------------*/

/*-----------------------------------*\
  #LOGO
\*-----------------------------------*/
.logo .logo-name {
  color: var(--main-color);
}


/*-----------------------------------*\
  #SEARCH BOX
\*-----------------------------------*/


/*-----------------------------------*\
  #USER
\*-----------------------------------*/



/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img, 
iframe,
button {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  text-align: left;
  cursor: pointer;
}

html {
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: var(--fs-body);
}

:focus-visible {
  outline-color: var(--primary-variant);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--container-color);
  border-radius: var(--radius-8);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.search-box { display: none; }

header{
  position: relative;
  padding-block: 24px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header .logo { margin-inline-end: auto; }

.bx-search,
.search-btn { padding: 12px; }

.bx-search {
  background-color: var(--container-color);
  border-radius: var(--radius-24);
  opacity: 0.5;
  transition: var(--transition-short);
}





/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/





/*-----------------------------------*\
  #HOME PAGE
\*-----------------------------------*/





/*-----------------------------------*\
  #DETAIL PAGE
\*-----------------------------------*/





/*-----------------------------------*\
  #MOVIE LIST PAGE
\*-----------------------------------*/





/*-----------------------------------*\
  #SEARCH MODAL
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/